In [5]:
import pandas as pd
Path = r'C:\Users\zezom\PycharmProjects\CarX\Datasets\Processed\cleaned_dataset.csv'
Cars = pd.read_csv(Path)

In [6]:
Cars['Color'].unique()

array(['Dark grey', 'Bronze', 'Petroleum', 'Black', 'Gray', 'Blue',
       'Silver', 'Brown', 'Red', 'White', 'Dark red', 'Dark blue',
       'Mocha', 'Gold', 'Green', 'Eggplant', 'Cyan', 'Champagne',
       'Yellow', 'Dark green', 'Olive', 'Purple', 'Beige', 'Orange'],
      dtype=object)

In [9]:
# Apply Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Cars['Color'] = le.fit_transform(Cars['Color'])
Cars.to_csv(r'C:\Users\zezom\PycharmProjects\CarX\Datasets\Processed\cleaned_dataset.csv', index=False)
Cars.head()

,Make,Model,Year,Mileage,Color,Automatic Transmission_Yes,Air Conditioner_Yes,Power Steering_Yes,Remote Control_Yes,Price
0,59,739,2024,300.0,9,1.0,1.0,1.0,1.0,2.800000e+06
1,17,158,2022,86000.0,3,1.0,1.0,1.0,1.0,9.545123e+05
2,32,790,2021,131000.0,18,1.0,1.0,1.0,1.0,1.200000e+06
3,47,806,2021,125000.0,1,1.0,1.0,1.0,1.0,2.050000e+06
4,5,843,2018,84000.0,13,1.0,1.0,1.0,1.0,2.050000e+06

In [4]:
Cars['Color'].unique()

array([ 9,  3, 18,  1, 13,  2, 21,  4, 20, 22, 10,  7, 15, 12, 14, 11,  6,
        5, 23,  8, 16, 19,  0, 17])